@model codeKade.DataLayer.Entities.Account.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>فعالسازی حساب کاربری</title>
</head>
<body>
    <h1 style="text-align:center;color:blueviolet"></h1>
    <h2 style="text-align:center">برای فعالسازی حساب کاربری خود روی لینک زیر کلیک کنید</h2>
    <a style="display:block;text-align:center;background-color:blueviolet;color:white" href="https://localhost:44341/ActiveAccount/@Model.ActiveCode">فعالسازی حساب کاربری</a>
</body>
</html>
