@model codeKade.DataLayer.DTOs.Account.ForgotPasswordDTO
@{
    ViewData["Title"] = "فراموشی کلمه عبور";
}

<!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="breadcrumb-area dir-rtl">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-title">@ViewData["Title"] </h1>
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">خانه</a>
                            </li>
                            <li>
                                <a href="dashboard.html">@ViewData["Title"]  </a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
            START DASHBOARD AREA
    =================================-->
    <section class="pass_recover_area section--padding2 dir-rtl">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <form asp-action="ForgotPassword" method="post">
                        <div class="cardify recover_pass">
                            <div class="login--header">
                                <div class="alert alert-primary" role="alert">
                                    <a class="alert-link">کاربر عزیز</a>
                                    <br/>
                                    <p>
                                        برای بازیابی ایمیل خود را وارد کنید
                                    </p>
                                    <br/>
                                    <p>
                                        سپس ایمیل خود را چک کرده و لینک ارسال شده را برای بازیابی کلمه عبور باز کنید 
                                    </p>
                                </div>
                            </div>
                            <!-- end .login_header -->

                            <div class="login--form">
                                <div class="form-group">
                                    <label for="email_ad">ایمیل</label>
                                    <input asp-for="EmailAddress" id="email_ad" type="text" class="text_field" placeholder="برای مثال : example@gmail.com">
                                    <span class="text-danger" asp-validation-for="EmailAddress"></span>
                                </div>

                                <button class="btn btn--md btn--round register_btn" type="submit">بازیابی کلمه عبور </button>
                            </div>
                            <!-- end .login--form -->
                        </div>
                        <!-- end .cardify -->
                    </form>
                </div>
                <!-- end .col-md-6 -->
            </div>
            <!-- end .row -->
        </div>
        <!-- end .container -->
    </section>
    <!--================================
            END DASHBOARD AREA
    =================================-->

