@using codeKade.DataLayer.Entities.School
@model codeKade.DataLayer.DTOs.Account.RegisterUserDTO
@{
    ViewData["Title"] = "ثبت نام";
    var schools = ViewBag.Schools as List<School>;
}

<!--================================
    START BREADCRUMB AREA
=================================-->
<section class="breadcrumb-area dir-rtl">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">@ViewData["Title"]</h1>
                <div class="breadcrumb">
                    <ul>
                        <li>
                            <a href="index.html">خانه</a>
                        </li>
                        <li>
                            <a href="dashboard.html">@ViewData["Title"] </a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- end /.col-md-12 -->
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</section>
<!--================================
    END BREADCRUMB AREA
=================================-->
<!--================================
            START SIGNUP AREA
    =================================-->
<section class="signup_area section--padding2 dir-rtl">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 block">
                <form asp-action="Register" method="post">
                    <div class="cardify signup_form">
                        <div class="login--header">
                            <h3>ایجاد حساب کاربری</h3>
                            <p>
                                لطفا موارد زیر را با دقت تکمیل کنید.
                            </p>
                        </div>
                        <!-- end .login_header -->

                        <div class="login--form">

                            <div class="form-group">
                                <label>نام </label>
                                <input asp-for="FirstName" type="text" class="text_field" placeholder="">
                                <span class="text-danger" asp-validation-for="FirstName"></span>
                            </div>

                            <div class="form-group">
                                <label>نام خانوادگی </label>
                                <input asp-for="LastName" type="text" class="text_field" placeholder="">
                                <span class="text-danger" asp-validation-for="LastName"></span>
                            </div>

                            <div class="form-group">
                                <label>ایمیل</label>
                                <input asp-for="Email" type="email" class="text_field" placeholder="">
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            
                            <div class="form-group">
                                <label>شماره تلفن</label>
                                <input asp-for="Mobile" type="text" class="text_field" placeholder="">
                                <span class="text-danger" asp-validation-for="Mobile"></span>
                            </div>
                            
                            <div class="form-group">
                                <label> نام مکان آموزشی <span>(اختیاری)</span> </label>
                                <select class="form-control" asp-for="SchoolId">
                                    <option selected="selected" value="0">خالی</option>
                                    @foreach (var school in schools)
                                    {
                                        <option value="@school.ID">@school.Name</option>
                                    }
                                </select>
                                <span class="text-danger" asp-validation-for="SchoolId"></span>
                            </div>

                            <div class="form-group">
                                <label>کلمه عبور </label>
                                <input asp-for="Password" type="password" class="text_field" placeholder="">
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>

                            <div class="form-group">
                                <label>تکرار رمز عبور</label>
                                <input asp-for="ConfirmPassword" type="password" class="text_field" placeholder="">
                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                            </div>

                            <button class="btn btn--md btn--round register_btn" type="submit">ثبت نام</button>

                            <div class="login_assist">
                                <p>
                                    قبلا حساب کاربری ایجاد کرده اید ؟
                                    <a href="signup.html">ورود</a>
                                </p>
                            </div>
                        </div>
                        <!-- end .login--form -->
                    </div>
                    <!-- end .cardify -->
                </form>
            </div>
            <!-- end .col-md-6 -->
        </div>
        <!-- end .row -->
    </div>
    <!-- end .container -->
</section>
<!--================================
        END SIGNUP AREA
=================================-->
@section css{
    <link href="css/BorderAnimate.css" rel="stylesheet"/>
}