@model codeKade.DataLayer.DTOs.Account.ResetPasswordDTO
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

<!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="breadcrumb-area dir-rtl">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-title">@ViewData["Title"] </h1>
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">خانه</a>
                            </li>
                            <li>
                                <a href="dashboard.html">@ViewData["Title"]  </a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
            START DASHBOARD AREA
    =================================-->
    <section class="pass_recover_area section--padding2 dir-rtl">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <form asp-action="ResetPassword" method="post">
                        <div class="cardify recover_pass">
                            <div class="login--header">
                                <div class="alert alert-warning" role="alert">
                                    کلمه عبور جدید خود را وارد کنید
                                </div>
                            </div>
                            <!-- end .login_header -->

                            <div class="login--form">
                                <div class="form-group">
                                    <label>کلمه عبور جدید</label>
                                    <input asp-for="Password" type="password" class="text_field">
                                    <span class="text-danger" asp-validation-for="Password"></span>
                                </div>
                                <div class="form-group">
                                    <label>تکرار کلمه عبور جدید</label>
                                    <input asp-for="ConfirmPassword" type="password" class="text_field">
                                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                </div>

                                <button class="btn btn--md btn--round register_btn" type="submit">ارسال </button>
                            </div>
                            <!-- end .login--form -->
                        </div>
                        <!-- end .cardify -->
                    </form>
                </div>
                <!-- end .col-md-6 -->
            </div>
            <!-- end .row -->
        </div>
        <!-- end .container -->
    </section>
    <!--================================
            END DASHBOARD AREA
    =================================-->

