@using codeKade.Application.PathExtentions
@model codeKade.DataLayer.DTOs.Event.EditEventDTO;
@{
    ViewData["Title"] = "ویرایش رویداد" + " " + @Model.Title;
}

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h4 class="page-title m-0">@ViewData["Title"]</h4>
                </div>
                <div class="col-md-4">
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end page-title-box -->
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body">
                <form asp-action="Edit" asp-controller="Event" asp-area="Admin" method="post" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">عنوان</label>
                        <input class="form-control w-50" type="text" asp-for="Title" placeholder="برای مثال : آموزش برنامه نویسی">
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"> تاریخ برگزاری رویداد</label>
                        <input id="stdate" name="stdate" class="form-control w-25" type="text" value="@Model.StartDateShamsi">
                        <span class="text-danger" asp-validation-for="StartDate"></span>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">آدرس</label>
                        <input class="form-control w-75" type="text" asp-for="Address">
                        <span class="text-danger" asp-validation-for="Address"></span>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"> نام محل برگذاری</label>
                        <input class="form-control w-50" type="text" asp-for="LocationName">
                        <span class="text-danger" asp-validation-for="LocationName"></span>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"> قیمت </label>
                        <input class="form-control w-25" type="number" asp-for="Price">
                        <span class="text-danger" asp-validation-for="Price"></span>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"> عکس</label>
                        <input asp-for="Image" type="file">
                        <span class="text-danger" asp-validation-for="Image"></span>
                        <img src="@(Model.ImageName !=null ? PathTools.EventThumbImagePath + Model.ImageName : PathTools.DefaultBlogImage)" />
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label">فعال / غیرفعال</label>
                        <input type="checkbox" style="width: 30px;height: 30px" asp-for="IsActive">
                        <span class="text-danger" asp-validation-for="IsActive"></span>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"> توضیحات</label>
                        <textarea id="Body" asp-for="Description"></textarea>
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <input type="submit" class="btn btn-primary btn-block" value="ثبت">
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- end col -->
</div>
@section Links{
    <link rel="stylesheet" href="/css/persianDatepicker-default.css" />
}
    @section Scripts
    {
    <script src="/js/persianDatepicker.min.js"></script>
    <script src="/plugins/ckeditor/ckeditor.js"></script>
    <script>
        $(document).ready(function() {
            $("#stdate").persianDatepicker();
            CKEDITOR.replace("Body");
        });
    </script>
    }


