@model codeKade.DataLayer.DTOs.Comment.AddcommentDTO
<form action="#" class="پشتیبانی_form">
    

    <div class="form-group">
        <label for="supmsg">متن : </label>
        <textarea class="text_field" id="supmsg" name="supmsg" placeholder="متن خود را وارد کنید ..."></textarea>
    </div>
    <button type="submit" class="btn btn--lg btn--round">ارسال </button>
</form>