@model codeKade.DataLayer.Entities.Blog.BlogCategory

<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">افزودن دسته بندی جدید</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Blog" asp-area="Admin" asp-action="AddCategory" method="post">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label"> عنوان :</label>
                        <input type="text" class="form-control" asp-for="Title">
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>
                    
                    
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary text-white" value="ثبت"/>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>